<div class="container-fluid">

    <div class="row" style=" color:white; background: linear-gradient(blue,#0099ff,#9dcae9); height:100vh;">
        <div class="col">
            <!-------->
            <div class="row mt-2 sticky-top" style="background:blue; height: 80px;">
                <div class="col ml-5 d-flex align-items-center"
                    style="font-size:28px;font-family:verdana ; font-weight:bold; "> <img src="/assets/task.jpg" alt=""
                        style="margin-right: 3px;"> Task Manager-App</div>


            </div>
            <!------>
            <div class="row mt-4 justify-content-center align-items-center">
                <div class="col">
                    <div class="row mt-4 justify-content-center align-items-center">
                        <div class="col d-flex justify-content-center align-items-center"
                            style="font-size:35px; font-weight:bold;">Welcome!!

                        </div>
                    </div>


                </div>
            </div>


            <div class="row mt-5">
                <div class="col d-flex justify-content-center align-items-center" style="font-size:25px;">You've
                    successfully
                    signed up for Task-Manager, the smart to-do app for busy people.Let's get started!
                </div>
            </div>
            <div class="row mt-5 ">
                <div class="col d-flex justify-content-center"> <a class="btn btn-outline-light btn-lg"
                        routerLink="/task/" style="background: rgb(7, 7, 102); color:white"> Continue to the app
                    </a></div>
            </div>


        </div>
    </div>


</div>