<div class="container-fluid">
    <div class="desktop">
        <div class="row mt-5 justify-content-center align-items-center  "
            style="height:380px; width:350px; background:rgba(255,255,255,0.07);">
            <div class="col-md-12 d-flex justify-content-center align-items-center ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row mt-2 mt-2">
                            <div class="col-12 text-primary" style="font-size:30px; font-weight:bold;">Forgot Password
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col" style="font-size:20px;">Email</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col" [formGroup]=" fbFormGroup"> <input type="text" class="form-control"
                                    placeholder="Email" formControlName="email"><label for=""
                                    style="color: red; font-size: 16px; font-weight:bold;" *ngIf="
                                    fbFormGroup.get('email').invalid &&  fbFormGroup.get('email').touched ">*
                                    Email address is required</label></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col"> <input type="button" class="btn btn-primary"
                                    [disabled]="!fbFormGroup.valid" value="Reset Password"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">Already have the account? <span style="color:blue;"><a
                                        routerLink="/login">Signin</a>
                                </span></div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>