.desktop{
    height:100vh;
    background-image:url("/assets/i6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
   display:flex;
   justify-content: center;
   align-items: center;
   background-position:center ;
    margin-left:0;
    margin-right:0;


  }