<div class="container-fluid">
    <div class="desktop">
        <div class="row" style=" color:white; background: linear-gradient(blue,#0099ff,#9dcae9); height:100vh;">
            <div class="col">
                <!-------->
                <div class="row mt-2 sticky-top" style="background:blue; height: 80px;">
                    <div class="col ml-5 d-flex align-items-center"
                        style="font-size:28px;font-family:verdana ; font-weight:bold; "> <img src="/assets/task.jpg"
                            alt="" style="margin-right: 3px;"> Task Manager-App</div>


                    <div class="col nav-bar d-flex   justify-content-end align-items-center">
                        <a class="btn  mr-1" routerLink="">What's New</a>
                        <a class="btn mr-1" routerLink="">Upgrade</a>
                        <a class="btn  mr-1" routerLink="/login/">Signin</a>
                        <a class="btn btn-outline-light mr-1" (click)="processLogout()" routerLink="/logout/"
                            style="color:black;">Sign out</a>
                        <a class="btn btn-outline-light mr-1" routerLink="/regi/" style="color:black;">Sign up for
                            free</a>


                    </div>
                </div>
                <!------>
                <div class="row mt-4 justify-content-center align-items-center">
                    <div class="col">
                        <div class="row mt-4 justify-content-center align-items-center">
                            <div class="col d-flex justify-content-center align-items-center"
                                style="font-size:35px; font-weight:bold;">The
                                smart to do app for
                                busy people</div>
                        </div>


                    </div>
                </div>
                <div class="col">
                    <div class="row mt-4 justify-content-center align-items-center"><a class="btn" routerLink="/regi/"
                            style="color:white; background: red; font-size:20px; font-weight:bold;">Sign Up
                            Free</a>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col d-flex justify-content-center align-items-center" style="font-size:25px;">"Never
                        give up. Today is
                        hard,tomorrow will be worse, but the day after tomorrow will be sunshine. "</div>
                </div>
                <div class="row ">
                    <div class="col d-flex justify-content-end  " style="margin-right:130px;">- Jack Ma</div>
                </div>


            </div>
        </div>

        <!----Footer---->
        <div class="row  justify-content-center" style="height:200px;background:rgb(3, 3, 58); color:white;">
            <div class="col-12 col-md-6 d-flex flex-column ">

                <div class="row  mt-4  justify-content-center  ">
                    <div class="col-md-12 d-flex justify-content-center" style="font-weight:bold; font-size:20px;">
                        <div class="col-6">Contact Us</div>
                        <div class="col-4">Legal</div>
                        <div class="col-2">Community</div>
                    </div>
                </div>
                <!------>
                <div class="row  mt-2  justify-content-center  ">
                    <div class="col-md-12 d-flex justify-content-center" style="font-size:16px;">
                        <div class="col-6">C-DAC Center, Mubai</div>
                        <div class="col-4">Privacy Policy</div>
                        <div class="col-2">Linkedin</div>
                    </div>
                </div>
                <!------->
                <div class="row  mt-2  justify-content-center  ">
                    <div class="col-md-12 d-flex justify-content-center" style="font-size:16px;">
                        <div class="col-6">contact@cdac.in</div>
                        <div class="col-4">Terms & Condition</div>
                        <div class="col-2"></div>
                    </div>
                </div>

                <div class="row mt-4 justify-content-center">
                    <div class="col mt-3 d-flex justify-content-center">Website Policies | @Copyright Policy | Help |
                        @2020
                        C-DAC.All rights
                        reserved.</div>
                </div>

            </div>
        </div>


    </div>

</div>